<link rel="stylesheet" href="~/Style/Home.css" />
@{
    Layout = "_Layout";
}

<body>
    <div class="container">
        <h3>About Me</h3>
        <div>
            <a href="https://placeholder.com">
            <img src="http://via.placeholder.com/150x200" />
            </a>
        </div>
        <p>This is where I put my personal statement</p>
    </div>

    <div class="container">
        <h3>Skills</h3>
        <div id="skillsDiv">
            <ul id="skills">
                <li>C#</li>
                <li>Azure</li>
                <li>Azure</li>
                <li>Azure</li>
                <li>Azure</li>
                <li>Azure</li>
                <li>Azure</li>
                <li>Azure</li>
                <li>Azure</li>
                <li>Azure</li>
            </ul>
        </div>
    </div>

    <div class="container">
        <h3>Projects</h3>
        <div class="col-lg-4">
            <a href="https://placeholder.com">
                <img src="http://via.placeholder.com/300x300">
            </a>
            <br />
            <p>This is a bunch of ipsum</p>
        </div>
        <div class="col-lg-4">
            <a href="https://placeholder.com">
                <img src="http://via.placeholder.com/300x300">
            </a>
            <br />
            <p>This is a bunch of ipsum</p>
        </div>
        <div class="col-lg-4">
            <a href="https://placeholder.com">
                <img src="http://via.placeholder.com/300x300">
            </a>
            <br />
            <p>This is a bunch of ipsum</p>
        </div>
    </div>
</body>
