<link rel="stylesheet" href="~/Style/Home.css" />
@{
    Layout = "_Layout";
}

<body>

    <div class="container">
        <h3>Projects</h3>
        <div class="col-lg-4">
            <a href="https://placeholder.com">
                <img src="http://via.placeholder.com/300x300">
            </a>
            <br />
            <p>This is a bunch of ipsum</p>
        </div>
        <div class="col-lg-4">
            <a href="https://placeholder.com">
                <img src="http://via.placeholder.com/300x300">
            </a>
            <br />
            <p>This is a bunch of ipsum</p>
        </div>
        <div class="col-lg-4">
            <a href="https://placeholder.com">
                <img src="http://via.placeholder.com/300x300">
            </a>
            <br />
            <p>This is a bunch of ipsum</p>
        </div>
    </div>
</body>
