body {
    background-color: darkgray;
}

#skills li{
    margin-right: 2em;
    /*display: inline;*/
    
}
#skillsDiv{
    max-width: 300px;
}

.mypic {
    height: 200px;
    width: 250px;
}
.homeCarousel {
    height: 300px;
    width: 50%;
}

