body {
    background-color: darkgray;
}

#skills li{
    margin-right: 2em;
    display: inline;
    
}
#skillsDiv{
    max-width: 300px;
}

.rotateimg90 {
    height: 200px;
    width: 150px;
   
}

