<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/png" href="~/Images/favicnHere" />
    <style>
        .footimg {
            max-height: 20px;
            max-width: 20px;
        }
    </style>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <link rel="stylesheet" href="~/style.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <link rel="stylesheet" href="~/style.css" asp-append-version="true" />

    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" asp-action="Index" asp-controller="Home">MySite</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a asp-action="Index" asp-controller="Home">Home</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Social Media <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://github.com/desertduane">Github</a></li>
                        <li><a href="https://www.linkedin.com/in/duane-rush/">Linkedin</a></li>
                        
                    </ul>

                </li>
                <li><a asp-action="Gallery" asp-controller="Home">Life Gallery</a></li>
                <li><a href="#">Link 2</a></li>

            </ul>
        </div>

    </nav>
    <section>
        @RenderBody()
    </section>
    <footer class="panel-footer">
        <div class="footer" id="foot">
            &copy; 2018 - Just about me!
            <a href="https://github.com/desertduane"><img class="footimg" src="~/Images/githubicon.svg" /></a>
            <a href="https://www.linkedin.com/in/duane-rush/"><img class="footimg" src="~/Images/linkedinIcon.png" /></a>
        </div>


    </footer>
</body>
</html>
